/* ============ Google Font ================== */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@400;600&family=Sono:wght@400;600&display=swap');

/* =============== VARIABLES CSS =========== */
:root{
    
    /* ======== Color ======== */
   --first-color: rgb(246, 242, 212);
   --second-color: rgb(149, 209, 204);
   --third-color: rgb(85, 132, 172, 50%);
   --fourth-color: rgb(34, 87, 126);
   --white-color: white;
   --black-color: black;

   /* ========= Font and typography ========= */
   --body-font: 'IBM Plex Sans Thai Looped', sans-serif;
   --title-font: 'Sono', sans-serif;

   --biggest-font-size: 2.5rem;
   --h1-font-size: 2.5rem;
   --h2-font-size: 1.8rem;
   --h3-font-size: 1rem;
   --normal-font-size: .75rem;
   --small-font-size: .613rem;
   --smaller-font-size: .55rem;

   /*========== Font weight ==========*/
   --font-medium: 400;
   --font-semi-bold: 600;
}
body{
    font-family: var(--title-font);

    background-color: var(--third-color);
    background-image: url('/public/img/sea-2052650.jpg') repeat;
}

.item1 {
    grid-area: avatarArea;
    
    margin: auto;
}
.item2 {
    grid-area: postArea;

    background-color: var(--first-color);

    margin: 20px;
    padding: 20px;

    border-radius: 30px;
}
.item3 {grid-area: feedArea;}


.grid-container{
    display: grid;

    grid-template-areas: 
    'avatarArea postArea postArea'
    'feedArea feedArea feedArea';
    grid-template-columns: 30% auto;
    grid-gap: 5px;

    padding: 10px;

    word-wrap: break-word;
}
/* .grid-container > div
{
    border: 0.5px solid black;
} */
h1{
    font-family: var(--title-font);
    font-size: var(--h1-font-size);

    margin-top: -5px;
}
h2{
    font-family: var(--title-font);
    font-size: var(--h2-font-size);
}
h3{ 
    font-family: var(--title-font);
    font-size: var(--h3-font-size);

    margin-top: -10px;
}
textarea{
    margin-top: -20px;
    margin-left: 10px;
    width: 650px;
    height: 80px;
    /* padding: 10px; */
}
div.welcomeText {
    padding: 10px;
}
div.welcomeText h1{
    word-wrap: break-word;
    word-break: break-all;
}
form.form{
    background-color: var(--first-color);
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
}
div.posttime {
    text-align: right;
}
#formId{
    text-align: center;
}
#browsePic{
	display: block;
	margin: auto;
}
#displayPic{
    display: block;
    margin: auto;

	width: 200px;
	height: 200px;

    border-radius: 50%;
    border: 2px solid black;

    background-color: var(--white-color);
}
img{
    display: block;
    margin: auto;

	width: 200px;
	height: 200px;

    border-radius: 50%;

    object-fit: cover;
}
#postbutton{
    margin-left: 10px;
    margin-bottom:10px
}
#onlineTitle{
    text-align: center;
}
.hidden{
	display: none;
}
@media only screen and (max-width: 1400px) {
    textarea{
        margin-top: -20px;
        width: 420px;
        height: 80px;
    }
}
@media only screen and (max-width: 1032px) {
    textarea{
        margin-top: -20px;
        width: 300px;
        height: 80px;
    }
}
@media only screen and (max-width: 726px) {
    .grid-container{
        grid-template-areas: 
        'avatarArea '
        'postArea '
        'feedArea ';
        grid-template-columns: auto;
        text-align: center;
    }
    #feed-container{
        text-align: left;
    }
    h1{
        font-size: var(--h2-font-size);
    }
    h2{
        font-size: var(--h3-font-size);
    }
    #displayPic{
        display: block;
        margin: auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid black;
    }
    img{
        width: 150px;
        height: 150px;
    }
    textarea{
        margin-top: -20px;
        width: 220px;
        height: 80px;
    }
}