/* ============ Google Font ================== */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&family=Roboto:wght@400;700&family=Secular+One&display=swap');

/* =============== VARIABLES CSS =========== */
:root{
    --header-height: 3.5rem;
    
    /* ======== Color ======== */
    --container-color: hsl(53, 65%, 90%);
    --body-color: hsl(0, 33%, 92%);
    --second-color: hsl(0, 44%, 84%);
    --first-color: hsl(0, 47%, 64%);
    --title-color: hsl(219, 33%, 25%);

   /* ========= Font and typography ========= */
   --title-font: 'Secular One', sans-serif;
   --subtitle-font: 'Roboto', sans-serif;
   --body-font: 'Kanit', sans-serif;

   --biggest-font-size: 1.61rem;
   --h1-font-size: 1.42rem;
   --h2-font-size: 1.25rem;
   --h3-font-size: 1.15rem;
   --normal-font-size: .98rem;
   --small-font-size: .75rem;
   --smaller-font-size: .62rem;

   /*========== Font weight ==========*/
   --font-medium: 400;
   --font-semi-bold: 600;

      /* ================= z-index ================ */
      --z-tooltip: 10;
      --z-fixed: 100;
}
/* ====================== BASE ======================== */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--title-color);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}
  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
  }

img {
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.hiddle{
    display: none;
}

/* =================== HEADER & NAV ==================== */
.header{
    position: fixed;
    width: 100%;
    background-color: var(--body-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: box-shadow .3s, background .4s;
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle,
.nov__close{
    display: flex;
    color: var(--title-color);
}

.nav__logo{
    align-items: center;
    column-gap: .5rem;
    font-family: var(--title-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    transition: color .3s;
}

.nav__logo img{
    width: 25px;
    margin-left: 5px;
}

.nav__logo:hover{
    color: var(--first-color);
}

.nav__toggle{
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
        padding-block: 1rem;
        transition: top .4s;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}

.nav__link{
    color: black;
    font-weight: 200;
    transition: color .4s;
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__close{
    position: absolute;
    top: .5rem;
    right: .8rem;
    font-size: 1.3rem;
}

/* Show menu */
.show-menu{
    top:0;
}

.text__area{
    width: 350px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    border-top: 2px solid var(--first-color);
    border-radius: 30px;
}
.item1 {
    grid-area: avatarArea;
    margin-top: 55px;
}
.item2 {
    grid-area: postArea;
    background-color: white;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.item3 {grid-area: feedArea;}

.grid-container{
    display: grid;

    grid-template-areas: 
    'avatarArea postArea'
    'feedArea feedArea';
    grid-template-columns: auto;
    grid-gap: 5px;
    padding: 10px;
    word-wrap: break-word;
}
div#displayPic img{
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.usernameliked{
    display: block;
    text-align: center;
    color: black;
}
.usernameliked:hover{
    color: var(--first-color);
}
.welcome__tx{
    padding-top: 20px;
    margin-left: 35px;
    font-family: var(--body-font);
}
.post__bt{
    background-color: var(--first-color);
    font-family: var(--body-font);
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
}
.newfeeds{
    background-color: white;
    border-radius: 50px;
    padding: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.poster__img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.postuser{
    margin-bottom: 20px;
}
.poster__msg{
    margin-bottom: 20px;
}
.posttime{
    text-align: right;   
    font-size: var(--small-font-size);
}
.unloved__bt{
    background-color: var(--first-color);
    padding: 3px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 0px;
    border-radius: 50%;
    border: none;
}