
/* ============ Google Font ================== */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@400;600&family=Sono:wght@400;600&display=swap');

body {
    background: #fffeff;
    font-family: 'Rubik', sans-serif;
}

form{
    text-align: center;
    font-family: 'Sono', sans-serif;
}

#Website_logo {
    display: flex;
    margin: auto;
    width: 20%;
    border: 8px solid #eb8500;
    border-radius: 200px;
    vertical-align: middle;
}

fieldset{
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    background:#EBF4FB;
    border:1px solid #95D1CC; 
    justify-content: space-evenly;
}

input{
    font-size: 14px;
    font-style: bold;
    color: #fffeff;
    background-color: #22296d;
    vertical-align: middle;
    display: flex;
    margin: auto;
    border-radius: 100px;
}


